// Override Bootstrap variables in this file, e.g.

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       Lora, "Times New Roman", Times, serif;

$text-color: #1F2325;

$link-color: inherit;
$link-hover-color: #006073;
